<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Lab/static/style.css">
    <title>My Books</title>
</head>
<body>
<header>
    <nav>
        <ul class="bookshelf">
            <li><a href="/">Home</a></li>
            <li> <a href="/delete_book">Delete</a></li>
            <li> <a href="/view_book">View them all</a></li>
        </ul>
    </nav>
</header>
<h1>You cannot buy happiness, but you can buy books - which is basically the same</h1> 
<div class="container">
    <img src="./static/images/bookshelf.jpeg" alt="Image of a bookshelf">        
</div>

    {% block content %} 
  

    {% endblock %} </div>

</body>
</html>

